.Main-div{
    /* background-color: #282c34; */
}

.middleSearch{
    padding-top: 20rem;
    height: 100vh;
    padding-left: 15rem;
    padding-right: 15rem;
}

.topSearch{
    padding-top: 2rem;
    padding-left: 15rem;
    padding-right: 15rem;
}

#row{
    padding-top: 3rem;
    margin-bottom: 2rem;
}


