.row{
    padding-top: 3rem;
    margin-top: -1rem;
    margin-bottom: 0rem;
}

.image-episode {
    float: left;
    width: 20rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.container3{
    padding: 0rem;
    border-radius: 1rem;
    background-color: #fff;
    border-color: aliceblue;
    transition: transform .2s;
    width: 25rem;
}

/* .card-body-episode{
    width: 27rem;
} */

.container3:hover{
    transform: scale(1.1);
  }
  

.noimage-episode {
    float: left;
    width: 14rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.card-title-episode{
    border-bottom: 1px solid;
    width: 46rem
}

.details{
    border-bottom: 1px solid;
}

.details-small{
    display: none;
}

@media only screen and (max-width:576px) {

    .card-title-episode {
        width: 11rem;
        border-bottom: 1px solid
    }

    .container2 {
        height: 21rem;
    }

    .image-episode{
        width: 9rem;
        height: 21rem;
    }
    .star{
        margin-top: 0rem;
    }

    /* .card-body-episode {
        width: 13rem;
    } */

   
    .card-link+.card-link {
        text-align: center;
        padding-top: 2rem
    }

    .details-small{
        display: block;
        border-bottom: 1px solid;
        padding-left: 0rem;
    }

}

@media only screen and (min-width: 577px) and (max-width: 991px) {

    .card-title-episode {
        width: 9rem;
        border-bottom: 1px solid
    }

    .details{
        display: none
    }

    .details-small{
        display: block;
        border-bottom: 1px solid;
        padding-left: 0rem;
    }

    .image-episode{
        height: 15.1rem;
    }

    .card-link+.card-link {
        margin-left: 0.95rem;
        margin-right: 1.6rem;
    }
}