.middleSearch{
    padding-top: 20rem;
    height: 100vh;
    padding-left: 15rem;
    padding-right: 15rem;
}

.topSearch{
    padding-top: 2rem;
    padding-left: 15rem;
    padding-right: 15rem;
}




@media only screen and (max-width:576px) {

    .middleSearch{
        padding-top: 20rem;
        height: auto;
        padding-left: 0rem;
        padding-right: 0rem;
    }
    
    .topSearch{
        padding-top: 2rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }
}


@media only screen and (min-width: 577px) and (max-width: 991px) {
    .topSearch {
        padding-top: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .middleSearch{
        padding-top: 20rem;
        height: 100vh;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}