

.card-subtitle {
    margin-top: -.375rem;
    margin-bottom: 0;
    font-size: 0.8rem;
    color: slategrey;
}

.card-text {
    font-size: 0.8rem;
    color: slategrey;
}

.container2 {
    padding: 0rem;
    border-radius: 1rem;
    background-color: #fff;
    border-color: aliceblue;
    transition: transform .2s;
    cursor: pointer;
}

.container2:hover{
    transform: scale(1.1);
}

.card{
    border: none;
    margin-top: 1rem;
    text-align: -webkit-left;
    height: 10rem
}
.card-body{
    padding-top: 0;
}


.card-title{
    margin-bottom: .75rem;
    font-size: 1.5rem;
}

.card-title-show{
    width: 57rem;
    border-bottom: 1px solid;
}


.card-subtitle{
    margin-top: 0.625rem
}

.image {
    float: left;
    width: 8rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.noimage{
    float: left;
    width: 8rem;
    height: 11rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.image-episode {
    float: left;
    width: 20rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.noimage-episode {
    float: left;
    width: 14rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}


@media only screen and (max-width:576px) {

    .card-title-show {
        width: 11rem;
        border-bottom: 1px solid
    }

    .container2 {
        height: 20rem;
    }

    .image{
        width: 9rem;
        height: 20rem;
    }

}
