.image-detailed{
    float: left;
    width: 24.37rem;
    border-top-left-radius: 1rem;
}

.title{
    border-bottom: 1px solid;
}

.container-detailed{
    padding: 0rem;
    border-radius: 1rem;
    background-color: #fff;
    border-color: aliceblue;
    height: auto;
    overflow: hidden;
}

.card-detailed{
    border: none;
    margin-top: 1rem;
    text-align: -webkit-left;
    height: 34rem;
    width: 45rem;
    padding: 2rem 1rem 1rem 1rem ;
}


.overview{
    font-size: 1.6vh;
    margin-top: 0rem !important;
}

@media only screen and (max-width:576px) {

    .card-detailed {
        width: 22rem;
        height: 50rem;
        padding: 1rem 0rem 0rem 0rem;
    }

    .image-detailed {
        width: 21.6rem;
        border-top-right-radius: 1rem;
    }

}


