html,body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-image: url(back11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.stars-text{
  padding-top: 0.4rem;
  margin-right: 0.6rem;
}


.stars{
  user-select: none;
  -webkit-user-select: none;
}



.alert{
  width: 47rem;
  margin-left: 11rem;
}


.row{
  padding: 0rem;
  margin-bottom: 2rem;
}


.container2 {
  padding: 0rem;
  border-radius: 1rem;
  background-color: #fff;
  border-color: aliceblue;
  transition: transform .2s;
  cursor: pointer;
}

.container2:hover{
  transform: scale(1.1);
}



@media only screen and (max-width: 576px){
    .alert {
        width: 21.5rem;
        margin-left: 0rem;
    }

    html,body{
        background-image: url(back10.jpg);
    }
}